<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Posts</h1>
  <a routerLink="/posts/new" mat-button>New NEWS</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let oneNews of news"
  >
    <mat-card class="example-card">
      <mat-card-title>{{ oneNews.title }}</mat-card-title>
      <mat-card-subtitle>At {{ oneNews.datetime.substr(0,10) }}</mat-card-subtitle>
      <mat-card-content>
        <img *ngIf="oneNews.image"
             [src]="oneNews.image | image"
             [alt]="'Photo of ' + oneNews.title"
             mat-card-image
        />
      </mat-card-content>
      <mat-card-actions>
        <a
          [routerLink]="['/news/', oneNews.id]"
          mat-button
        >Read Full Post</a>
        <a
          mat-button
          (click)="removeNews(oneNews.id)"
        >Delete</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
