<div>
  <h1>{{news.title}}</h1>
  <small>{{ news.datetime }}</small>
  <h3>{{ news.content }}</h3>
</div>

<div>
  <h2>Comments</h2>
  <div
    *ngFor="let com of comments"
    style="margin-bottom: 50px;"
  >
    <mat-card>
      <mat-card-title>{{ com.comment }}</mat-card-title>
      <mat-card-actions align="end">
        <button  (click)="removeComment(com.id)" mat-button>Delete</button>
      </mat-card-actions>
      <mat-card-subtitle>{{ com.author | author }}</mat-card-subtitle>
    </mat-card>
  </div>
</div>


<h2>Add comment</h2>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <input name="comment" required matInput ngModel/>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Add</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
